<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="static/tmp/style.css">
    <nav class="navbar" role="navigation" id="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item" href="/upload">
                    Predict 
                </a>

                
            <div class="navbar-end">
                
            </div>
        </div>
    </nav>
</head>

<body>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <center>
    <div class="box" style="align-items: center; margin-top: 150px; padding: 2rem; width: max-content;">
      <h1 class="title is-2">Upload Brain MRI</h1>
      <br>
      <br>
      <br>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="file has-name is-centered">
          <label class="file-label">
            <input class="file-input" type="file" name="file" accept="image/*">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a file...
              </span>
            </span>
            <span class="file-name">
              No file selected
            </span>
          </label>
        </div>
        <br>
        <input type="submit" value="Upload" class="button is-primary">
      </form>
    </div>
    </center>
    
</body>
<link rel="stylesheet" type="text/css" href="pw.css">
<script src="https://kit.fontawesome.com/e690f7b4b8.js" crossorigin="anonymous"></script>
<script type="module" src="pw.js"></script>
<script>
  const fileInput = document.querySelector('.file-input');
  const fileName = document.querySelector('.file-name');

  fileInput.addEventListener('change', function() {
    if (fileInput.files.length > 0) {
      fileName.textContent = fileInput.files[0].name;
    } else {
      fileName.textContent = 'No file selected';
    }
  });
</script>